.row {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &__b-margin-until-medium {
        margin-bottom: 1.25rem;
    }
    
    @mixin atMedium{
        flex-direction: row;
        padding: 4rem 0;
        gap: 4rem;

        &__medium-4{
            flex: 0 0 33.33%; /* Takes up 33.33% of the row */
        }

        &__medium-8{
            flex: 0 0 66.66%; /* Takes up 66.66% of the row */
        }

        &__b-margin-until-medium {
            margin-bottom: 0;
        }
    }
    @mixin atSmall {
        
        &__medium-8{
            flex: 0 0 58%; 
            color: $mainBlue;
        }
   
    }
}
