.testimonial {
    padding: 0 1.815rem 1px 1.815rem;
    margin-bottom: 60px;
    margin-top: 3rem;

    @mixin atMedium {
        margin-bottom: 0;;
        padding: 0 1.815rem 1px 1.815rem;
        margin-top: 0;
    }

    &__photo{
        position: relative;
        border-radius: 80px;
        overflow: hidden;
        width: 160px;
        height: 160px;
        border: solid 6px rgba(255,255,255, .8);
        margin: 0 auto -80px auto;
        top: -80px;
    }

    &__title{
        text-align: center;
        color: $mainBlue;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__subtitle{
        color: $mainOrange;
        font-size: .9375rem;
        text-align: center;
        font-weight: 400;
        margin: .25rem .25rem;
        margin-bottom: 1rem;
    }

    &--last {
        margin-bottom: 0;
    }
}